entrypoint = "main.py"
modules = ["python-3.11", "web", "nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["cacert", "freetype", "gumbo", "harfbuzz", "jbig2dec", "libjpeg_turbo", "mupdf", "openjpeg", "openssl", "postgresql", "swig", "xcbuild"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]
deploymentTarget = "autoscale"

[agent]
expertMode = true
stack = "FLASK_VANILLA_JS"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Website"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "RUN_EMBEDDED_WEBSITE=0 python main.py"

[[workflows.workflow]]
name = "Website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_website.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[userenv]

[userenv.shared]
SUPER_ADMIN_ID = "7305367169"
